{% extends 'template.html.twig' %}
{% block navigation %}
    {% if isLogged %}
        {% include 'navigation.logged.twig' %}
    {% else %}
        {% include 'navigation.twig' %}
    {% endif %}
{% endblock navigation %}

{% block content %}
    <link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist@5.11.0/swagger-ui.css"/>
    <div id="swagger-ui"></div>
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/swagger-ui-dist@5.11.0/swagger-ui-bundle.js" crossorigin></script>
    <script>
        window.onload = () => {
            window.ui = SwaggerUIBundle({
                url: 'swagger.json',
                dom_id: '#swagger-ui',
            });
        };
    </script>
{% endblock %}