{% extends 'template.html.twig' %}


{% block content %}
    <div
         class=" min-h-screen bg-gradient-to-br from-blue-50 to-indigo-50 flex items-center justify-center p-4">
        <div class="max-w-md w-full">
            <div class="bg-white rounded-xl shadow-lg p-8">
                <div class="text-center mb-8">
                    <h2 class="text-3xl font-bold text-gray-900 mb-2">See you soon...</h2>
                </div>
                <p class="text-center text-sm text-gray-600 mt-6">
                    Login out ...
                </p>
            </div>
            <div id="printMessage"></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        (function () {
                window.localStorage.removeItem('user_id');
                window.localStorage.removeItem('token');
                setTimeout(() => {
                    window.location.assign('/');
                } , 1000)
        })();
    </script>
{% endblock %}

