
{%  extends 'template.html.twig' %}

{% block content %}

   <!-- Login Page -->
   <div id=""  class=" min-h-screen bg-gradient-to-br from-blue-50 to-indigo-50 flex items-center justify-center p-4">
      <div class="max-w-md w-full">
         <div class="bg-white rounded-xl shadow-lg p-8">
            <div class="text-center mb-8">
               <h2 class="text-3xl font-bold text-gray-900 mb-2">Sorry!</h2>
               <p>{{ error }}</p>
            </div>


         </div>
         <div id="printMessage"></div>
      </div>
   </div>
{% endblock %}