<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body class="flex items-center justify-center h-screen bg-gray-100">

{% block login %}
    <div class="fixed top-0 right-0 p-4 text-cyan-500">
        <a href="/login" class="">
            <i class="material-icons text-blue-500 text-sm">login</i>

            Login</a> /
        <a href="/register">
            <i class="material-icons text-blue-500 text-sm">app_registration</i>
            Register
        </a>
    </div>
{% endblock login %}



<div class="container">
    {% block alerts %}
        <div class="bg-green-100 border-green-400 text-green-700 px-4 py-3 rounded relative hidden" role="success">
            <strong class="font-bold">Success!</strong>
            <span class="block sm:inline">This is an alert message.</span>
        </div>

        <div class="bg-yellow-100 border-yellow-400 text-yellow-700 px-4 py-3 rounded relative hidden" role="warning">
            <strong class="font-bold">Warning!</strong>
            <span class="block sm:inline">This is an alert message.</span>
        </div>

        <div class="bg-red-100 border-red-400 text-red-700 px-4 py-3 rounded relative hidden" role="error">
            <strong class="font-bold">Error!</strong>
            <span class="block sm:inline">This is an alert message.</span>
        </div>

        <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative hidden" role="info">
            <strong class="font-bold">Info!</strong>
            <span class="block sm:inline">This is an alert message.</span>
        </div>
    {% endblock %}

    <div class="logo"></div>
    {% block body %}
    {% endblock %}
</div>


{% block script %}
{% endblock %}
</body>
</html>

